* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-blue-color: #63B2FF;
    --main-black-color: #353535;
    --main-white-color: #F4F3EE;
}

body {
    background-color: var(--main-white-color);
    color: var(--main-black-color);
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: inherit
}

/* ================= HEADER STYLE ================ */

header {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--main-blue-color);
}

.inner_header {
    height:auto;
}

    .inner_header h1 {
        font-family: Verdana;
        font-weight: 100;
        font-size: 60px;
        color: var(--main-black-color);
    }

.navigation_menu {
    background-color: var(--main-black-color);
    height: 50px;
    display: table;
    table-layout: fixed;
    width: 800px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navigation_button {
    display: table-cell;
    color: var(--main-white-color);
    background-color: var(--main-black-color);
    font-family: Verdana;
    font-weight: 100;
    font-size: 27px;
    border: solid 3px #353535;
    vertical-align: middle;
}

    .navigation_button:hover {
        background-color: var(--main-white-color);
        color: var(--main-black-color);
    }


/* ================= MAIN STYLE ================ */


main {
    width: 55%;
    height: auto;
    text-align: center;
    margin: auto;
    font-family: Verdana;
    overflow: hidden;
}

    main h2{
        font-size: 30px;
        margin-top: 50px;
    }
    
    main h3 {
        color: var(--main-black-color);
        text-align: center;
        margin-top: 50px;
    }

    main a {
        font-size: 20px;
        margin-top: 20px;
    }

    main image{
        margin-top: 50px;
    }

    main p{
        text-align: left;
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.5;
    }

/* ================= FOOTER STYLE ================ */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: var(--main-blue-color);
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.footer_inner_table {
    width: 55%;
    height: 90%;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.footer_inner_table_cell {
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    color: var(--main-black-color);
}

    .footer_inner_table_cell a{
        vertical-align: middle;
    }

.footer_logo {
    height: 40px;
    margin-right: 20px;
}

/*================= GAMES TABLE ====================*/

.game_table_container {
    display: table;
    width: 100%;
    height: 400px;
    text-align: left;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.game_table_cell {
    
    display: table-cell;
    vertical-align: middle;
}

    .game_table_cell .game_read_more{
        text-align: center;
    }

    .game_table_cell h3 {
        margin: auto 20px 15px 20px;
        font-size: 26px;
        text-align: left;
    }
    .game_table_cell h4 {
        margin: auto 20px 14px 20px;
        font-size: 18px;
    }

    .game_table_cell p {
        margin: auto 20px auto 20px;
    }

    .game_table_cell a {
        margin: 20px 20px auto 20px;
    }

.game_read_more {
    display: block;
    color: var(--main-white-color);
    background-color: var(--main-black-color);
    font-family: Verdana;
    font-weight: 100;
    font-size: 27px;
    border: solid 3px #353535;
    vertical-align: middle;
    width: 40%;
    text-align: center;
    margin-left: 20px;
}

    .game_read_more:hover {
        background-color: var(--main-white-color);
        color: var(--main-black-color);
    }


/*============== GAME PAGES =================*/

.game_page_title
{
    text-align: center;
    margin-top: 20px;
    width: 400px;
}

.game_page_trailer {
    text-align: center;
    margin-top: 20px;
}

.game_page_lists {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

    .game_page_lists li {
        margin-bottom: 15px;
    }

        .game_page_lists li::before {
            content: '\2022';
            color: var(--main-black-color);
            margin-right: 10px;
        }


main .game_download_button{
    text-align:center;
}

.game_download_button {
    display: block;
    color: var(--main-white-color);
    background-color: var(--main-black-color);
    font-family: Verdana;
    font-weight: 100;
    font-size: 27px;
    border: solid 3px #353535;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

    .game_download_button:hover {
        background-color: var(--main-white-color);
        color: var(--main-black-color);
    }